<div id="tag_link" class="mb-4">
    <div class="d-flex-center justify-content-between">
        <div class="btn btn-blue fw-bold tags-shadow">
            <span>Trang chủ</span>
            <i class="fas fa-angle-double-right mx-2"></i>
            <span>Thông tin về chúng tôi</span>
        </div>
    </div>
</div>
<div id="about" class="row">
    <div class="card_content d-flex px-5">
        <div id="about_content" class="col-7 my-auto ps-5">
            <p class="title text-blue" style="font-size: 3rem;">Website Thangnnc</p>
            <p class="content1 fs-4 text-dark" style="font-weight: 600;">Nơi giúp bạn ôn tập và kiểm tra kiến thức lập
                trình. Giúp bạn dần
                dần cải thiện kỹ năng và lý thuyết một cách đầy đủ nhất</p>
        </div>
        <div id="about_image" class="col-5">
            <img class="img-about" src="images/aboutus.png" style="width: 100%;" alt="">
        </div>
    </div>

    <div>
        <p class="title_line text-center fs-1">Lập Trình Viên</p>
        <hr class="rounded-pill bg-blue m-auto opacity-100" style="height: 6px; width: 15vh">
    </div>

    <div class="card px-0 col-7 m-auto my-4 rung" style="min-height: 40vh;">
        <div id="dev_java" class="row px-0 g-0">
            <div class="col-lg-8 p-5 text-center">
                <h2 class="text-blue fw-bold">Lập Trình Viên Java</h2>
                <hr class="w-50 bg-blue m-auto opacity-100" style="height: 2px;">
                <div class="card-body mt-4 fs-4 fw-bold h-100 align-items-center">
                    <p>Nguyễn Nhật Cao Thăng</p>
                    <p>20 Tuổi</p>
                    <p>Tuy Phong - Bình Thuận</p>
                    <p class="bg-orange rounded-pill text-light py-1">Sinh Viên FPT Polytechnic</p>
                </div>
            </div>
            <div class="col-lg-4">
                <img src="images/dev_avatar.jpg" class="img-fluid rounded-start h-100" style="border-radius: 20px;" alt="...">
            </div>
        </div>
    </div>
</div>