<div id="tag_link" class="mb-4">
    <div class="btn btn-blue fw-bold tags-shadow">
        <span>Quên Mật Khẩu</span>
    </div>
</div>
<div id="signin" class="row justify-content-center my-5">
    <div class="card col-lg-6 col-md-8 rounded-3 overflow-hidden">
        <div class="card-body row p-0">
            <div class="col-md-5 p-0">
                <img src="images/Baner_Vertical.jpg" class="rounded-start w-100" height="100%" alt="">
            </div>
            <div class="col-md-7 mt-auto mb-auto">
                <h5 class="title-modal text-center my-4 fw-bold fs-4">Quên mật khẩu</h5>
                <form ng-submit="getPass()" class="px-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputUsername" 
                                ng-model="username" placeholder="myusername"
                            required autofocus>
                        <label for="floatingInputUsername">Tài khoản</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingEmail" 
                                ng-model="email" placeholder="Email" required>
                        <label for="floatingEmail">Email</label>
                    </div>
                    <div class="d-grid mb-2">
                        <button class="btn btn-blue rounded-pill btn-login fw-bold" 
                             type="submit">
                            Lấy lại mật khẩu
                        </button>
                    </div>

                    <div class="d-block text-center mt-2 choose-form">
                        <a class="small" href="#!signin">Đăng nhập</a> |
                        <a class="small" href="#!signup">Đăng kí</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>