<div id="tag_link" class="mb-4">
    <div class="d-flex-center justify-content-between">
        <div class="btn btn-blue fw-bold tags-shadow">
            <span>Trang chủ</span>
            <i class="fas fa-angle-double-right mx-2"></i>
            <span>Trắc Nghiệm {{tagPage}}</span>
        </div>
        <a class="btn btn-blue rounded-pill finish" data-bs-toggle="modal" data-bs-target="#modalConfirm">
            Nộp Bài
        </a>
    </div>
</div>
<div id="do_quiz" class="row justify-content-center">
    <div class="row p-5">
        <div class="col-lg-8 m-auto">
            <div class="progress mb-4 border border-secondary" style="height: 30px;">
                <div class="progress-bar progress-bar-striped bg-orange" role="progressbar" aria-valuenow="0"
                    aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    <span class="text-light fw-bold fs-6">Tiến độ: {{per}}%</span>
                </div>
            </div>
            <div class="d-flex justify-content-lg-between p-3 pt-0">
                <button class="btn btn-blue fw-bold w-25" ng-disabled="idxQuestion == 0"
                    ng-click="prevQuestion(this)">Câu
                    trước</button>
                <span class="fw-500 fs-5 fw-bold m-auto">{{idxQuestion+1}}/{{questions.length}}</span>
                <button class="btn btn-blue fw-bold w-25" ng-disabled="idxQuestion == (questions.length - 1)"
                    ng-click="nextQuestion(this)">Câu sau</button>
            </div>
            <div class="card p-3" ng-repeat="quiz in questions | limitTo:1:idxQuestion">

                <div class="card-header bg-transparent border-0 border-bottom border-2 border-dark fs-5">
                    <i class="fas fa-question-circle me-2"></i>
                    <span class="fw-bold"><u>Câu {{idxQuestion + 1}}:</u>&ensp;{{quiz.text}}</span>
                </div>
                <div class="card-body row answer_quiz px-5">
                    <button class="btn w-100 fs-5 fw-bold d-flex-center justify-content-between"
                        ng-repeat="asw in quiz.answers" ng-click="selectAnswer($index)">
                        {{aphabet[$index]}}. {{asw.text}}
                        <i ng-if="answer[idxQuestion] == $index" class="fas fa-check-circle text-dark"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div href="#" class="back-to-top active p-0 bg-light text-dark" style="width: 100px; height:100px">
        <div id="app">
            <div class="base-timer">
                <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <g class="base-timer__circle">
                        <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
                        <path id="base-timer-path-remaining" stroke-dasharray="283"
                            class="base-timer__path-remaining" 
                            d="M 50, 50
                                m -45, 0
                                a 45,45 0 1,0 90,0
                                a 45,45 0 1,0 -90,0">
                    </path>
                    </g>
                </svg>
                <span id="base-timer-label" class="base-timer__label">
                    {{minutes}} : {{second < 10 ? '0'+second : second}}
                </span>
            </div>
        </div>
    </div>

    <!-- begin modal -->
    <div id="modalConfirm" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-4 fw-bold text-uppercase" id="exampleModalLabel">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body fs-4 fs-bold">
                    Bạn có chắc muốn kết thúc bài thi hay không?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary rounded-pill finish py-2 px-4"
                        data-bs-dismiss="modal">
                        Không
                    </button>
                    <a type="button" class="btn btn-blue rounded-pill finish py-2 px-4" data-bs-toggle="modal"
                        data-bs-target="#modalResult" data-bs-dismiss="modal" ng-click="finish()">Đồng Ý</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal -->
    <!-- begin modal -->
    <div id="modalResult" class="modal fade vertical-items-middle" tabindex="-2" aria-labelledby="exampleModalLabel1"
        role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-4 fw-bold text-uppercase" id="exampleModalLabel1">Điểm Số</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        onclick="document.location ='index.html'"></button>
                </div>
                <div class="modal-body fs-4 fs-bold text-success">
                    Bạn đã hoàn thành bài thi với số điểm là: {{mark}}/10
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-blue rounded-pill finish py-2 px-4" data-bs-dismiss="modal"
                        onclick="document.location ='index.html'">Đồng Ý</a>
                </div>
                <div class="pyro">
                    <div class="before"></div>
                    <div class="after"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal -->
</div>