<div id="sidebar" class="sidebar sticky-top">
    <ul class="sidebar_list">
        <li>
            <a aria-current="page" class="sidebar_link home active" 
                href="#!home" onclick="activeSidebar('home')">
                <i class="fas fa-house-user fs-4 mb-1"></i>
                <span>Trang Chủ</span>
            </a>
        </li>
        <li>
            <a aria-current="page" class="sidebar_link about" 
                href="#!about" onclick="activeSidebar('about')">
                <i class="fas fa-id-card-alt fs-4 mb-1"></i>
                <span>Thông Tin</span>
            </a>
        </li>
        <li>
            <a aria-current="page" class="sidebar_link contact" 
                href="#!contact" onclick="activeSidebar('contact')">
                <i class="fas fa-hands-helping fs-4 mb-1"></i>
                <span>Liên Hệ</span>
            </a>
        </li>
        <li>
            <a aria-current="page" class="sidebar_link channel" target="_blank"
                href="https://www.youtube.com/c/ThayLongWeb" onclick="activeSidebar('channel')">
                <i class="fab fa-youtube fs-4 mb-1"></i>
                <span>Kênh</span>
            </a>
        </li>
        <li>
            <a aria-current="page" class="sidebar_link quiz" 
                href="#" onclick="activeSidebar('quiz')">
                <i class="fas fa-question fs-4 mb-1"></i>
                <span class="text-center">Trắc  Nghiệm</span>
            </a>
        </li>
        
    </ul>
</div>