<div id="tag_link" class="mb-4">
    <div class="btn btn-blue fw-bold tags-shadow">
        <span>Đăng Kí</span>
    </div>
</div>
<div id="signup" class="row justify-content-center my-5">
    <div class="card col-lg-7 col-md-8 rounded-3 overflow-hidden">
        <div class="card-body row p-0">
            <div class="col-md-5 p-0">
                <img src="images/Baner_Vertical.jpg" class="rounded-start w-100" height="100%" alt="">
            </div>
            <div class="col-md-7 mt-auto mb-auto">
                <h5 class="title-modal text-center my-4 fw-bold fs-4">ĐĂNG KÝ</h5>
                <form ng-submit="register()" class="p-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="username" placeholder="myusername"
                            ng-model="user.username" autocomplete="off" autofocus>
                        <label for="username">Tài khoản</label>
                    </div>
                    <label class="text-danger" ng-if="errorUsername != null">{{errorUsername}}</label>

                    <div class="form-floating mt-3">
                        <input type="text" class="form-control" id="fullname" 
                            ng-model="user.fullname" ng-change="validateFullname()" placeholder="birthday" autocomplete="off">
                        <label for="fullname">Họ và tên</label>
                    </div>
                    <label class="text-danger" ng-if="errorFullname != null">{{errorFullname}}</label>

                    <div class="form-floating mt-3">
                        <input type="text" class="form-control" id="birthday" 
                            ng-model="user.birthday" placeholder="birthday">
                        <label for="birthday">Ngày sinh</label>
                    </div>
                    <label class="text-danger" ng-if="errorBirthday != null">{{errorBirthday}}</label>

                    <div class="form-floating mt-3">
                        <input type="email" class="form-control" id="email" 
                            ng-model="user.email" ng-change="validateEmail()" placeholder="name@example.com" autocomplete="off">
                        <label for="email">Địa chỉ email</label>
                    </div>
                    <label class="text-danger" ng-if="errorEmail != null">{{errorEmail}}</label>

                    <div class="form-floating mt-3">
                        <input type="password" class="form-control" id="password" 
                            ng-model="user.password" ng-change="validatePassword()" placeholder="Password" autocomplete="off">
                        <label for="password">Mật khẩu</label>
                    </div>
                    <label class="text-danger" ng-if="errorPassword != null">{{errorPassword}}</label>

                    <div class="form-floating mt-3">
                        <input type="password" class="form-control" id="confirm"
                            ng-model="confirm" ng-change="validateConfirm()" placeholder="Confirm Password" autocomplete="off">
                        <label for="confirm">Nhập lại mật khẩu</label>
                    </div>
                    <label class="text-danger" ng-if="errorConfirm != null">{{errorConfirm}}</label>

                    <div class="d-grid mt-3">
                        <button class="btn btn-blue rounded-pill btn-login fw-bold" type="submit">
                            Đăng Kí
                        </button>
                    </div>
                    <div class="d-block text-center mt-2 choose-form">
                        <span>Bạn đã có tài khoản?</span> |
                        <a class="small" href="#!signin">Đăng nhập</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>